.fullSize {
  width: 100% !important;
  min-height: 90vh !important;
  margin-top: 200px !important;
}

.description {
  color: #747083 !important;
  font-size: 1.1rem !important;
}
.title {
  color: #747083 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-right: 20px !important;
}
.Rtitle {
  color: #747083 !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  font-style: italic !important;
}
.AboutImage {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  height: 500px !important;
}
.AboutImageComponent {
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  width: 100% !important;

  object-fit: cover !important;
}

.Marquee {
  height: 100px !important;
  width: 100% !important;
}
.Circle {
  fill: #7176e7 !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

@media (max-width: 768px) {
  .Marquee {
    height: 100px !important;
    width: 100% !important;
  }
  .AboutImage {
    margin-top: 40px;
    height: 300px !important;
  }
}
