.Border {
  border: 1px solid #1e2435 !important;
}
.form {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #131313 !important;
  box-shadow: -52px 51px 161px 0px rgba(142, 119, 234, 0.5) !important;
  border: 1.5px solid #1e2435 !important;
}

button.formBtn {
  background-color: #0b0303 !important;
  color: #fff !important;
  width: 60% !important;
  border: 1px solid #8e77ea !important;
  border-radius: 20px !important;
  padding: 10px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  margin-top: 10px !important;
}
button.formBtn:hover {
  background-color: #8e77ea !important;
  color: #0b0303 !important;
}

.rotate {
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
