/* font set */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@font-face {
  font-family: "Ginger";
  src: url("../fonts/Ginger.otf");
}
.SpaceFont {
  font-family: "Space Grotesk", sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ginger", cursive !important;
  color: white !important;
}

body {
  background-color: #060606;
  overflow-x: hidden;
}
span.important-word {
  color: #7176eb !important;
}

.margin-left {
  margin-left: 20%;
}
.margin-left-short {
  margin-left: 10%;
}
.heroCaption {
  margin-left: 10px;
}
#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 5px solid #7176eb !important;
  position: fixed;
  border-radius: 5px;
  z-index: 101;
  pointer-events: none;
  transition: border-color 0.5s;
}

#pointer-ring {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 15px;
  border: 2px solid #7176eb;
  position: fixed;
  border-radius: 100px;
  z-index: 102;
  pointer-events: none;
}

html {
  cursor: none !important;
}

a {
  cursor: none !important;
}

.GrayColor {
  color: #747083 !important;
}


.layout{
  width:100%;
  min-height: 100vh;
}