.bgImage{
    background-image: url("../public/gradients/purple.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important; 
    
}
 
